<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--bootstrap引入-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../css/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/footer.css">
    <title>我们的酒店</title>
    <!--日期插件-->
    <link rel="stylesheet" href="css/datepicker.css">
    <style>
        .p20{
            padding:20px;
        }
        /*.mt20{*/
            /*margin-top:20px;*/
        /*}*/
        .mt40{
            margin-top:40px;
        }
        .mt10{
            margin-top:10px;
        }
        .hide{
            display: none;
        }
        /*body{*/
            /*height:1000px;*/
        /*}*/
    </style>
<!--我的样式链接-->
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<script>
    if(window.location.pathname!='/home.html'){
        window.location.pathname='/home.html'
    }
</script>
</body>
</html>