*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

/*banner大图*/
.bannerTitle{
    text-align: center;
    background-color: #d9e3d9;
}
.bannerTitle p{
    padding: 15px;
}

/*选择客房*/
.chooseTitle{
    text-align: center;
    padding: 20px;
}
.chooseRow{
    margin-bottom: 30px;
    background-color: #e1dfd1;
}
.chooseRow img{
    margin-left: -14px;
}
.bjColor h4{
    padding-top: 25px;
}
.bjColor p{
    line-height: 30px;
}
.moreBox{
    padding-top: 30px;

}
.more{
    border: 1px solid #1e522e;
    padding: 10px;
    display: inline-block;
    margin-top: 70px;
}



/*预定热线*/
.bookPhone{
    background-color: grey;
    padding: 30px;
}
.bookPhone p{
    color: #1e522e;
    font-weight: bold;
}
.telephone{
    text-align: center;
    padding-bottom: 30px;
}
.telephone h2{
    color: white;
}