*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #666666;
}
.btn{
    width: 100px;
    padding: 0;
    display: inline-block;
}
.money{
    padding: 1%;
    color:#EE8123 ;
}
.order-detail{
    width: 100%;
    font-size: 16px;
}
.order-title{
    line-height: 250%;
    padding-left: 4%;
    font-size: 20px;
    font-weight: bold;
    /*border-bottom: 2px solid #fafafa;*/
}
.detail{
    width: 75%;
    height: 50%;
    margin-left: 5%;
}
table td{
    width: 16%;
    height: 50%;
    padding: 2%;
}
.datacontent{
    color: #1e522f;
    margin-right: 6%;
}
.w1{
    border-top: 2px solid #fafafa;
}
.operation{
    height: 20%;
    width: 100%;
    padding: 2%;
}
.operation span:first-child{
    margin-left: 5%;
}
.payBtn{
    background-color:rgb(92,133,96);
    margin-left: 15%;
}
.buttont{
    display: inline-block;
    width: 75px;
    height:25px ;
    color: whitesmoke;
    line-height: 25px;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
}
.buttont:hover{
    color: white;
}
.cancelBtn{
    background-color: #beaf88;
    margin-left: 5%;
}
.button{
    display: inline-block;
    width: 100px;
    height:33px ;
    color: whitesmoke;
    line-height: 33px;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    margin-right: 5%;
    background-color:rgb(92,133,96);
}
.button:hover{
    color: white;
    background: #1e522f
}
.modalblock{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 40%;
    background-color: #f1f1f1;
    background-image: url(../../images/stables/stables-private/companyactivity/bg-pattern-5.png);
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-radius: 5px;
}
.title{
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.title span{
    font-size: 20px;
    font-weight: bold;
}
.title i{
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 20px;
}
.group{
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
.group span{
    font-weight: bold;
}
.m_input{
    -webkit-appearance:none;
    -moz-appearance: none;
    border:1px solid #1e522f;
    background: transparent;
}
.cancel,.confirm{
    margin: 0 3%;
    border: 1px solid #3c3c3c;
}
.cancel{
    background: transparent;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
}
.cancel:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.logout{
    top: 28%;
    height: 150px;
}