.update{
    height: 300px;
}
.info-edit{
    position: absolute;
    left: 25%;
    top: 20%;
}
.info-edit li{
    margin-top: 20px;
    font-size: 16px;
}
.tit{
    margin-right: 10px;
}
.info-edit li a{
    color: #337ab7
}
/*性别*/
.sex span.warning {
    font-size: 1.4rem;
    color: #ccc;
}
.sex .male,
.sex .female {
    position: relative;
    width: 4rem;
    height: 3.9rem;
    z-index: 1;
    line-height: 3.9rem;
    text-align: center;
}
.sex .male label,
.sex .female label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 3.9rem;
    z-index: 3;
    opacity: 0;
    margin: auto;
    display: inline-block;
    line-height: 3.9rem;
    cursor: pointer;
}
.sex input {
    display: inline-block;
    vertical-align: middle;/*让默认的单选样式的圆圈和“男”“女”的文本没有高差，看起来在同一水平线*/
    height: 2.8rem;
    line-height: 2.8rem;
    margin: 0; /*清除浏览器默认的外边距*/
}
.sex .male span.btn,
.sex .female span.btn {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 4rem;
    height: 2.8rem;
    z-index: 2;
    margin: auto;
    display: inline-block;
    line-height: 2.6rem;
    text-align: center;
    border: .1rem solid #fe5454;
    color: #fe5454;
}
.sex .male span {
    border-top-left-radius: .2rem;
    border-bottom-left-radius: .2rem;
}
.sex .female span {
    border-top-right-radius: .2rem;
    border-bottom-right-radius: .2rem;
}
.sex .male span.active,
.sex .female span.active {
    background-color: #fe5454;
    color: #fff;
}
.m_input{
    -webkit-appearance:none;
    -moz-appearance: none;
    border:1px solid #1e522f;
    background: transparent;
}
.update-title{
    line-height: 250%;
    padding-left: 5%;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #fafafa;
}
#memberEdit{
    top: 25%;
}
.button{
    display: inline-block;
    width: 100px;
    height:33px ;
    color: whitesmoke;
    line-height: 33px;
    font-size: 14px;
    border-radius: 3px;
    text-align: center;
    margin-right: 5%;
    background-color:rgb(92,133,96);
}
.button:hover{
    color: white;
    background: #1e522f
}
.modalblock{
    position: absolute;
    width: 400px;
    height: 250px;
    left: 40%;
    background-color: #f1f1f1;
    background-image: url(../../images/stables/stables-private/companyactivity/bg-pattern-5.png);
    box-shadow: 0 8px 16px 0 rgba(7,17,27,0.2);
    border-radius: 5px;
}
.title{
    text-align: center;
    position: relative;
    padding-top: 20px;
}
.title span{
    font-size: 20px;
    font-weight: bold;
}
.title i{
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 20px;
}
.group{
    padding: 20px;
    text-align: center;
    font-size: 16px;
}
.group span{
    font-weight: bold;
}
.m_input{
    -webkit-appearance:none;
    -moz-appearance: none;
    border:1px solid #1e522f;
    background: transparent;
}
.cancel,.confirm{
    margin: 0 3%;
    border: 1px solid #3c3c3c;
}
.cancel{
    background: transparent;
    color: #3c3c3c;
    border: 1px solid #3c3c3c;
}
.cancel:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}
.logout{
    top: 28%;
    height: 150px;
}