<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心</title>

    <!--引用bootstrap.css-->
    <link rel="stylesheet" href="../../css/bootstrap-3.3.7-dist/css/bootstrap.css">

    <!--引用自己写的stables-room.css-->
    <link rel="stylesheet" href="../../css/nav.css">
    <link rel="stylesheet" href="../../css/stables/s_footer.css">
    <link rel="stylesheet" href="../../css/user1/user.css">
</head>
<body>
<div class="header">
    <div class="header-bar"></div>
    <div class="logo-cont">
        <div class="logo">
            <a href="/home.html">
                <i class="iconfont icon-logo"></i>
            </a>
        </div>
    </div>
    <div class="nav-more" style="height: 360px">
        <div class="space"><i class="iconfont icon-close"></i></div>
        <ul class="menu">
            <li class="menu-item">
                <a href="../home.html">度假村首页</a>
            </li>
            <li class="menu-item">
                <a href="../stables/stables.html">裸心谷</a>
            </li>
            <li class="menu-item">
                <a href="../castle/castle.html">裸心堡</a>
            </li>
            <li class="menu-item">
                <a href="../sail/sail.html">裸心帆</a>
            </li>
            <li class="menu-item">
                <a href="../jobOpportunity/water.html">即将开业的度假村</a>
            </li>
        </ul>
    </div>
</div>
<div class="container usercenter">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <ul class="leftbar box">
                <li class="personal_info"><span class="glyphicon glyphicon-user "></span>个人信息</li>
                <li class="order"><span class="glyphicon glyphicon-list-alt "></span>我的订单</li>
                <li class="safe-center"><span class="glyphicon glyphicon-lock "></span>账户安全</li>
                <li class="exit"><span class="glyphicon glyphicon-log-out"></span>退出登录</li>
            </ul>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="member box">
                <div id="memberEdit">
                    <img id="headIMG" src="<%=face%>" alt="">
                    <div class="member-edit">
                        <a href="" target="_blank">
                            <br>
                            <i class="glyphicon glyphicon-edit"></i>
                            <br>
                            编辑资料
                        </a>
                    </div>
                </div>
                <div class="memberName">
                    <a href="" class="member-id">尊敬的<span><%=username%></span></a>
                </div>
            </div>
            <div class="recently box">
                <div class="recently-title">热门推荐</div>
                <div class="hotinfo">
                    <ul>
                        <li>
                            <img src="../../images/home/06_111334_banner.jpg" alt="">
                            <p>深度体验之旅</p>
                            <a href="">了解更多</a>
                        </li>
                        <li>
                            <img src="../../images/home/17_115337_20180813-nS-Autumn-FIT-webbanner-v1.jpg" alt="">
                            <p>趣野秋谷套餐</p>
                            <a href="">了解更多</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logout modalblock">
    <div class="inner">
        <div class="group">
            <span>确定要退出登录吗？</span>
            <br><br><br>
            <a href="" class="button confirm logoutconfirm">确定</a>
            <a href="" class="button cancel logoutcancel">取消</a>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container clearfix">
        <div class="retreats visible-xs">
            <div class="opened-resort">
                <a href="stables.html" target="_blank">裸心谷</a>
            </div>
        </div>
        <div class="retreats visible-xs">
            <div class="opened-resort">
                <a href="../castle/castle.html">裸心堡</a>
            </div>
        </div>
        <div class="retreats visible-xs">
            <div class="opened-resort">
                <a href="../sail/sail.html">裸心帆</a>
            </div>
        </div>
        <div class="info">
            <div class="sub-title">
                <b>实用信息</b>
                <span class="iconfont icon-down"></span>
            </div>
            <div class="footer-cont">
                    <span>
                        <a href="../about-our.html">关于裸心</a>
                    </span>
                <span>
                        <a href="../contact.html">联系我们</a>
                    </span>
                <span><a href="../media.html">媒体中心</a>
                    </span>
                <span><a href="stables-gallery.html">图库</a>
                    </span>
                <span><a href="http://careers.livenaked.com/">工作机会</a>
                    </span>
                <span><a href="../jobOpportunity/invest.html">投资机会</a>
                    </span>
                <span><a href="../jobOpportunity/privacy.html">隐私策略</a>
                    </span>
                <span><a href="../jobOpportunity/policy.html">政策与条款</a>
                    </span>
                <span><a href="../jobOpportunity/CommonProblems.html">常见问题</a>
                    </span>
            </div>
        </div>
        <div class="retreats">
            <div class="sub-title">
                <b>即将开业酒店</b>
                <span class="iconfont icon-down"></span>
            </div>
            <div class="footer-cont">
                <span><a href="../jobOpportunity/water.html">裸心泊</a></span>
                <span><a href="../jobOpportunity/park.html">裸心园</a></span>
                <span><a href="../jobOpportunity/pond.html">裸心潭</a></span>
                <span><a href="../jobOpportunity/wall.html">裸心壁</a></span>
            </div>
        </div>
        <div class="products">
            <div class="sub-title">
                <b>更多裸心项目</b>
                <span class="iconfont icon-down"></span>
            </div>
            <div class="footer-cont">
                <span><a href="http://www.nakedhub.com/">裸心社</a></span>
                <span><a href="http://www.livenaked.com/things">裸心品</a></span>
            </div>
        </div>
        <div class="follow">
            <div class="follow-title">
                <b data-reactid=".1byte5nemlc.4.0.4.0.0">关注我们</b>
            </div>
            <div class="footer-cont">
                <form class="subscribe" id="subscribeForm" method="post">
                    <input type="hidden" name="DMDtask" value="subscribe">
                    <input type="hidden" name="lang" value="cn">
                    <input type="text" maxlength="255" name="email" value="" placeholder="填写邮箱 订阅讯息">
                    <button type="submit">订阅</button>
                </form>
                <div class="qrcode"><img src="../../images/qr-code.gif">
                    <small>扫码或搜索“裸心naked”关注我们</small>
                    <div class="share-wrap">
                        <p class="share">
                            <a href="http://weibo.com/nakedretreats"class="weibo">
                                <img src="../../images/weibo.png">
                            </a>
                        </p>
                        <p class="share">
                            <a href="http://www.linkedin.com/company/naked-group" class="linkedin">
                                <img src="../../images/linkedin.png">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="back-top visible-xs">
        <span class="top">回到顶部</span>
        <span></span>
        <i class="iconfont icon-up"></i>
    </a>
    <div class="copyright">
        <span>裸心酒店管理(上海)有限公司 Copyright 2011-2018 all rights reserved </span>
        <a href="http://www.miitbeian.gov.cn">沪ICP备14028165号-7</a>
        <a href="">
            <img width="30" src="../../images/zhizhao.png" alt="">
        </a>
    </div>
</div>
<script src="../../js/jquery-3.3.1.js"></script>
<script src="../../js/user/user.js"></script>
</body>
</html>