*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

/*banner大图*/
.bannerTitle{
    text-align: center;
    background-color: #beaf88;
}
.bannerTitle p{
    padding: 25px;
    margin: 0;
}

/*套餐*/
.package{
    padding-bottom:80px;
    background-color: black;
}
.pacRow{
    padding-top: 30px;
}
.bjColor{
    text-align: center;
    background-color: #231f20;
    padding-bottom: 30px;
    color: #beaf88;
}
.bjP{
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.bjColor h2{
    margin-top: 0;
    padding-top: 30px;
}

.packageImg{
    width: 100%;
}
